body{
  margin:0px;
}
.heading{
  background:#1F2937;
  
}
.header{
  display:flex;
  justify-content:space-between;
  background:#1F2937;
  max-width:80rem;
  margin:0px auto;
  align-items:center;
  
  
}
.headerText{
  font-size:24px;
  color:#F9FAF8;
  justify-content:flex-start;
  margin:8px;
}
.headerTextli{
  justify-content:flex-start;
}

ul{
  padding:0 48px ;
}
.left-header{
  padding:0 56px;
}
.right-header{
  padding-left:0px;
  padding-right:40px;
  display:flex;
  flex:0 1 370px;
  align-items:center;
  font-size:18px;
  color:#E5E7EB; 
}


li{
  list-style-type:none;
  margin:8px 0px 8px 8px;
  min-width: 123px;
  text-align:flex-end;
  margin-right:0px;
  text-align:center;
  }
a{
  color:white;
  text-decoration:none;
  text-align:left;
  }

.headline{
  display:flex;
  justify-content:space-between;
  background:#1F2937;
  max-width:80rem;
  margin:0px auto;
  align-items:center;
  padding-bottom:30px;
}

.headlineText{
  display:flex;
  flex-flow:column;
}
h1{
  font:48px bold;
  font-weight;
  color:#F9FAF8;
  margin:8px;
}
.headlineTextDesc{
  max-width:600px;
  text-align:left;
  color:white;
}
.signup{
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin:8px;
  border-radius:8px;
  padding: 3px 8px ;
}
.headlineImage{
    flex:1 1 500px;
    background:grey;
    aspect-ratio:16/9;
    margin:40px;
}

.frameShowcase{
  display:flex;
  margin:auto;
  justify-content:center;
  max-width:75rem;
  padding: 40px 40px
}

.frame{
  display:flex;
  flex-flow:column;
  max-width:250px;
  margin:20px;

}
.frameImage{
  margin:20px;
  align-self:center;
  flex:1 1 200px;
  max-width:200px;
  background:white;
  aspect-ratio:1/1;
  margin:10px;
  border: solid #3b82f6 5px;
  border-radius:10%;
}

.secondSection{
  background:#E5E7EB;
  display:flex;
}
.quotesbox{
  flex-flow:column;
  margin:20px auto;
  justify-content:center;
  align-items:center;
  max-width:65rem;
}
.quotes{
}

.quotesAuthor{
  text-align:right;
  margin:0px;
}

.thirdSection{
  display:flex;
  justify-content:center;
}

.cta{
  background:#3882F6;
  border-radius:10px;
  margin:50px auto;
  max-width:65rem;
  display:flex;
  justify-content:space-between;
  padding:10px 20px;
}
.cta-left{
  display:flex;
  flex-flow:column;
  margin:10px 30px ;
}
#ctatitle{
  text-align:left;
  justify-content:flex-start;
  max-width:600px;
  color:white;
  font-weight:bold;
}
#ctatext{
  text-align:left;
  justify-content:flex-start;
  max-width:600px;
  color:white;
}

.cta-right{
  align-self:center;
}

.ctabutton{
  color:white;
  border:white;
  background:#3882F6;
  border: solid white 2px;
  border-radius:5%;

}
