body{
  margin:0px;
}
.heading{
  background:#1F2937;
  
}
.header{
  display:flex;
  justify-content:space-between;
  background:#1F2937;
  max-width:80rem;
  margin:0px auto;
  align-items:center;
  
  
}
.headerText{
  font-size:24px;
  color:#F9FAF8;
}
.left-header{

}
.right-header{
  padding-left:0px;
  padding-right:30px;
  display:flex;
  flex:0 1 370px;
  align-items:center;
  font-size:18px;
  color:#E5E7EB; 
}


li{
  list-style-type:none;
  margin:8px 0px 8px 8px;
  min-width: 123px;
  text-align:flex-end;
  margin-right:0px;
  }
a{
  color:white;
  text-decoration:none;
  }

.headline{
  display:flex;
  justify-content:space-between;
  background:#1F2937;
  max-width:80rem;
  margin:0px auto;
  align-items:center;
  padding-bottom:30px;
}
.headlineText{
  display:flex;
  flex-flow:column;
}
h1{
  font:48px bold;
  font-weight;
  color:#F9FAF8;
  margin:8px;
}
.headlineTextDesc{
  max-width:600px;
  text-align:left;
  color:white;
}
.signup{
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  margin:8px;
  border-radius:8px;
  padding: 3px 8px ;
}
.headlineImage{
    flex:1 1 500px;
    background:grey;
    aspect-ratio:16/9;
    margin:30px;

}
